/* banner feature */
.feature-icon {
  font-size: 50px;
  color: $primary-color;
  display: inline-block;
}

.feature-blocks {
  margin-top: -100px;
  padding-left: 70px;
  padding-top: 80px;
  padding-right: 30%;

  @include desktop-xl {
    padding-right: 10%;
  }

  @include desktop-lg {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;

    h3 {
      font-size: 20px;
    }
  }

  @include desktop {
    margin-top: 0;
    padding: 50px;

    h3 {
      font-size: 25px;
    }
  }
}

/* /banner feature */

/* course */
.card-btn {
  font-size: 12px;
  padding: 5px 10px;
}

.flex-basis-33 {
  flex-basis: 33.3333%;
}

.hover-shadow {
  transition: .3s ease;

  &:hover {
    box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.15);
  }
}

/* /course */

/* success story */
.success-video {
  min-height: 300px;

  .play-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    @include tablet {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.play-btn {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: $primary-color;
  color: $white;
  font-size: 20px;
  text-align: center;

  i {
    line-height: 80px;
  }

  &::before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    transform: translate(-50%, -50%);
    background: $white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: -2;
    transition: .3s ease;
    transition-delay: .2s;
  }

  &::after {
    position: absolute;
    content: "";
    height: 80%;
    width: 80%;
    transform: translate(-50%, -50%);
    background: $primary-color;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: .3s ease;
  }

  &:hover {
    &::before {
      height: 80%;
      width: 80%;
      transition-delay: 0s;
    }

    &::after {
      height: 0;
      width: 0;
      transition: 0s ease;
    }
  }
}

/* /success story */

/* events */
.card-date {
  position: absolute;
  background: $primary-color;
  font-family: $secondary-font;
  text-align: center;
  padding: 10px;
  color: $white;
  top: 0;
  left: 0;
  text-transform: uppercase;

  span {
    font-size: 40px;
  }
}

/* /events */

/* staff */
.staff-info {
  width: 70%;
  bottom: 0;
  right: 0;
}

/* /staff */

/* footer */
.newsletter {
  background-image: linear-gradient(to right, transparent 50%, $primary-color 50%);
  margin-bottom: -50px;
  position: relative;
  z-index: 1;

  &-block {
    padding-left: 50px;

    @include mobile {
      padding-left: 15px;
    }
  }
}

.input-wrapper {
  position: relative;

  button {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.form-control {
  height: 60px;
  background: $white;
  border-radius: 0;
  padding-left: 25px;

  &:focus {
    border-color: $primary-color;
    box-shadow: none;
  }
}

.newsletter-block {
  .form-control {
    height: 90px;
  }
}

.bg-footer {
  background-color: #051b17;
}

.logo-footer {
  margin-top: -20px;
  display: inline-block;
  width: 50%;
}

.footer {
  border-color: #494a43 !important;
  padding-top: 275px;
}

/* /footer */

/* Slider */
h2{
  text-align:center;
  padding: 20px;
}
/* Slider */

  

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 80%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.clientes .slick-list .slick-track{
  margin-left: 0;
  margin-right: 0;
  width: 100% !important;
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.clientes .slick-list .slick-track .slide-clients{
  width: 22% !important;
}

.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* slide 2 */

.slide2{
  display: flex;
  transform: translate3d(0,0,0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 20.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item-slide2{
  position: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
  background: #1a1a37;
  opacity: 20%;
  
}

@keyframes autoplay{
  33% {transform: translate3d(calc(-100%*0), 0, 0)};
  66% {transform: translate3d(calc(-100%*1), 0, 0)};
  100% {transform: translate3d(calc(-100%*2), 0, 0)};
}

.texto{
  position: absolute;
  bottom: 0;
  right: 1rem;
  top: 35%;
  left: 5%;
  width: 650px;
}

.texto h1{
  font-size: 5vw;
  color: white;
  text-align: center;
  margin-right: 40vw;
  line-height: 10vw;
}


@media screen and (min-width:375px){
  .btn-resp{
    margin-top: 3vw;
    margin-right: 40vw;
    padding: 1vw;
    
  }
}

@media screen and (min-width:540px){
  .btn-resp{
    margin-top: 3vw;
    margin-right: 50vw;
    
  }
}

@media screen and (min-width:760px){
  .btn-resp{
    margin-top: 3vw;
    margin-right: 50vw;
    
  }
}

@media screen and (min-width:1150px){
  .btn-resp{
    margin-top: 3vw;
    margin-right: 50vw;
    
  }
}


@media screen and (min-width:375px){
  .resp-log{
    max-width: 50%;
    margin-right: 200px;
  }
}

@media screen and (min-width:540px){
  .resp-log{
    max-width: 70%;
    margin-right: 200px;
  }
}

@media screen and (min-width:760px){
  .resp-log{
    max-width: 100%;
    margin-right: 300px;
  }
}

@media screen and (min-width:1150px){
  .resp-log{
    max-width: 200%;
    margin-right: 400px;
  }
}


@media screen and (min-width:375px){
  .preloader2{
    width:150px;
    height: 100px;
  }
}

@media screen and (min-width:540px){
  .preloader2{
    width:250px;
    height: 200px;
  }
}

@media screen and (min-width:760px){
  .preloader2{
    width:350px;
    height: 300px;
  }
}

@media screen and (min-width:1150px){
  .preloader2{
    width: 350px;
    height: 300px;
  }
}

/* Resposive image */

@media screen and (min-width:375px){
  .responsive-img{
    max-width: 70%;
  }
}

@media screen and (min-width:540px){
  .responsive-img{
    max-width: 45%;
  }
}

@media screen and (min-width:760px){
  .responsive-img{
    max-width: 55%;
  }
}


@media screen and (min-width:995px){
  .responsive-img{
    max-width: 95%;
  }
}

@media screen and (min-width:1150px){
  .responsive-img{
    max-width: 45%;
    padding: 10px;
  }
}
