{{ define "main" }} 
<!-- events -->
 <section class="section"> 
  <div class="container"> 
   <div class="row"> 
      <!-- event -->
     {{ range .Data.Pages }} 
      <div class="col-lg-4 col-sm-6 mb-5"> 
       {{ .Render "event" }} 
      </div> 
      {{ end }} 
   </div> 
  </div> 
 </section>
<!-- /events --> 

 {{ end }} 

