.bg-stacktecno {
    background-color: white;
}

.size-costumer {
    width: 120%;
}

.customer-logos {
    margin-top: 20px;
}

.intro-color {
    color: white;
  }

.intro-align {
    margin-top: 100px;
}