
  @keyframes fadeIn2 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .fade-in2r {
    opacity: 0;
    animation: slide-in-right ease-in-out both 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    &.one {
      animation-delay: 0.7s;
    }
    &.two {
      animation-delay: 1.4s;
    }
    &.three {
      animation-delay: 1.8s;
    }

  }


  .fade-in2l{
    animation: slide-in-left ease-in-out both 1;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    &.one {
      animation-delay: 0.7s;
    }
    &.two {
      animation-delay: 1.4s;
    }
    &.three {
      animation-delay: 1.8s;
    }
  }

  .js-scroll {
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .js-scroll.scrolled {
    opacity: 0;
  }
  .scrolled.fade-in {
    animation: fade-in2 4s ease-in-out both;
  }
  .scrolled.slide-left {
    animation: slide-in-left 4s ease-in-out both;
  }
  
  .scrolled.slide-right {
    animation: slide-in-right 4s ease-in-out both;
  }