// Color Variables
$text-color: #5c5c77;
$text-color-light: #8585a4;
$text-color-dark: #3E786F;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables

$icon-font: 'themify';

