<article class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow" style="height:75vh">
  <div class="img-course">
    <img class="card-img-top rounded-0 " src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
  </div>  
  <div class="card-body">
    <!-- post meta -->
    <ul class="list-inline mb-3">
      <!-- post date -->
      <li class="list-inline-item mr-3 ml-0"><i class="ti-calendar"></i> {{ .PublishDate.Format "02 Jan, 2006" }}</li>
      <!-- author -->
      <li class="list-inline-item mr-3 ml-0"><i class="ti-user"></i> <a
        href="{{ `author` | relLangURL }}{{ .Params.Author | urlize }}">{{ .Params.Author | title }}</a></li>
    </ul>
      <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    <p class="card-text">{{ .Summary | truncate 100 }}</p>
    <br>
  </div>
  <div class="my-2 justify-content-center d-flex " >
    <a href="{{ .Permalink }}" class="btn w-75 btn-primary btn-sm">{{ i18n "read_more" }}</a>
  </div>
</article>