<div class="card border-0 rounded-0 hover-shadow mb-5">
  <div class="img-staff">
    <img class=" card-img-top rounded-0 " src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
  </div>
  <div class="card-body">
    <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    <p>{{ .Params.Description }}</p>
    <ul class="list-inline">
      {{ range .Params.Contact }}
      <li class="list-inline-item"><a class="text-color" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>