{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ with .Params.Image }}
        <div align="center">
        <img class="img-fluid w-100 mb-4" src="{{ . | relURL }}" alt="about image" style="max-width: 50%;">
      </div>
        {{ end }}
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- slider -->

<!-- hero slider -->
{{ if $data.homepage.slider2.enable }}
{{ with $data.homepage.slider2 }}
<section>
  <!-- <div class="slider-frame">
    <div class="slide-images">
        <div class="img-container">
          <img src="images/banner/banner-1.jpg">
        </div>

        <div class="img-container">
          <img src="images/banner/banner-1.jpg">
        </div>

        <div class="img-container">
          <img src="images/banner/banner-1.jpg">
        </div>

    </div> -->
  <div class="overlay2">

      <div class="slide2 slider-info" style="max-height: 85vh;">
        <div class="item-slide2">
            <img src="/images/oficina1.jpg" class="img-fluid lozad">
        </div>

        <div class="item-slide2">
          <img src="/images/oficina2.jpg" class="img-fluid lozad">
        </div>

        <div class="item-slide2">
          <img src="/images/oficina4.jpg" class="img-fluid lozad">
        </div>
      </div>
    
    {{ range .slider_item}}
    <div class="texto">
      <h1 style="margin-top: -10vw;"> {{ .title }} </h1>
      <div class="align-center" >
      <img class="resp-log" src="/images/logo-ongres.svg">
      <a href="https://www.ongres.com" class="btn btn-primary btn-resp">{{ .button }}</a>
      </div>
    </div>
    {{ end }}

  </div>
    
    <!-- <div class="row">
      <div class="col-md-8">
        <h1 class="text-white" data-animation-out="fadeOut{{.animation_out | title }}" >{{ .title | markdownify }}</h1>
        <p class="text-muted mb-4" data-animation-out="fadeOut{{.animation_out | title }}" >{{ .content | markdownify }}</p>
         {{ if .button.enable }}
        <a href="{{ .button.link | absLangURL }}" class="btn btn-primary" data-animation-out="fadeOut{{.animation_out | title }}" >{{ .button.label }}</a>
        {{ end }} 
      </div>
    </div> -->
  </div>
</section>
{{ end }}
{{ end }}
<!-- /hero slider -->

<!-- slider -->

<!-- funfacts -->
{{ if $data.homepage.funfacts.enable }}
{{ with $data.homepage.funfacts }}
<section class="section-sm bg-primary">
  <div class="container">
    <div class="row">
      <!-- funfacts item -->
      {{ range .funfact_item }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="{{ .count }}">0</h2>
          <h5 class="text-white">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /funfacts -->

<!-- success story -->
{{ partial "success-story.html" . }}
<!-- /success story -->

<!-- staff -->
{{ if $data.homepage.blog.enable }}
<section class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ i18n "our_staffs" }}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- staff -->
      {{ range  where .Site.RegularPages "Type" "staff"}}
      <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
        {{ .Render "staff" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /staff -->


<!-- Customers -->
{{ if $data.homepage.customer.enable }}
{{ with $data.homepage.customer }}
<!-- Place slider for clients -->
<section class="section pt-1 mb-5 mt-1" style="border-top: solid 10px #3E786F; ">
  <div class="container-fluid">
    <h2>{{ .title | markdownify }}</h2>
    <br>
    <section class=" row w-100 justify-content-center d-flex align-items-center">
      {{ range .customer_item }}
        <div class="slide mx-1 justify-content-center d-flex align-items-center " style="width: 18vw; height: 8vh;">
          <img src="{{ .image | absURL }}" style="max-width: 16vw; max-height: 8vh">
        </div>
      {{ end }}
    </section>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Customers -->

{{ end }}
