<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  {{ hugo.Generator }}

  {{ "<!-- plugins -->" | safeHTML }}
  {{ range .Site.Params.plugins.css }}
  <link rel="stylesheet" href="{{ .link | absURL }}">
  {{ end }}

  {{ "<!-- Main Stylesheet -->" | safeHTML }}
  <!-- {{ $styles := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }} -->
  {{ $sassTemplate := resources.Get "scss/style.scss" }}
  {{ $style := $sassTemplate | resources.ExecuteAsTemplate "main.scss" . | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ `images/logos-new/viadb_circulo.png` | absURL }}" type="image/x-icon">
  <link rel="icon" href="{{ `images/logos-new/viadb_circulo.png` | absURL }}" type="image/x-icon">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NE2G1417EQ"></script>

  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
  async defer></script>

  <!-- CAPTCHA-->
  <script type="text/javascript">

    var verifyCallback = function(response) {
          console.log("Realizo el recaptcha");
          var button = document.createElement('button');
          button.setAttribute ("type" , "submit");
          button.className += "btn btn-primary w-100";
          button.textContent = "{{ i18n "send" }}";
          document.getElementById("buttona").remove();
          var data = document.getElementById("divbutton");
          data.appendChild(button);
          document.getElementById("form-contact").setAttribute("action", "https://formspree.io/f/mzbwdgra");
    };
    
    var onloadCallback = function() {
      grecaptcha.render('html_element', {
        'sitekey' : '6Ldr8dkhAAAAALsBy0BPZTsEt82BaNpmEbyWewQ4',
        'callback' : verifyCallback,
        'theme' : 'white',
      });
    };
  
  </script>
  

{{- $jsOpts := dict "minify" true -}}
{{- $js := resources.Get "js/script.js" | js.Build $jsOpts }}
<script src="{{ $js.Permalink }}"></script>  


</head>
