{{ define "main" }}

<!-- contact -->
<section class="section bg-gray" style="margin-bottom: -40px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">{{ i18n "contact_us" }}</h2>
      </div>
    </div>
    <div class="row">
      
      <div class="col-lg-7 mb-4 mb-lg-0">
        <!--action="https://formspree.io/f/myybqyed"-->
        <form   id="form-contact" method="POST" >
          <div class="form-floating">
            <input required type="text" class="form-control mb-3" id="name" name="name" placeholder="Your Name">
            <div class="invalid-feedback">
              Campo obligatorio
            </div>
          </div>
          
          <div class="form-floating">
            <input required type="email" class="form-control mb-3" id="mail" name="mail" placeholder="Your Email">
            <div class="invalid-feedback">
              Campo obligatorio
            </div>
          </div>
          

          <div class="form-floating">
            <input required type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Subject">
            <div class="invalid-feedback">
              Campo obligatorio
            </div>
          </div>

          <div class="form-floating">
            <textarea name="message" id="message" class="form-control mb-3" placeholder="Your Message"></textarea>
          </div>
          <div class="row">
            
            <div class="col-lg-6 ">
              <div id="html_element"></div>
            </div>
            <div class="col-lg-6 divbutton" id="divbutton" >
              <a class="btn btn-primary w-100" id="buttona">{{ i18n "send" }}</a>
            </div>
            
          </div>
          
          
        </form>
        
      </div>
      <div class="col-lg-5 content">
        {{ .Content }}
        <a href="https://api.whatsapp.com/send?phone={{ .Site.Params.mobile }}" class="text-color h5 d-block">{{ .Site.Params.mobile }}</a>
        <a href="mailto:{{ .Site.Params.email }}" class="mb-5 text-color h5 d-block">{{ .Site.Params.email }}</a>
        <p>{{ .Site.Params.address | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

<!-- Map Style -->
<style>
.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
  .map-container iframe{
left:0;
top:0;
height:40vh;
width:100%;
position:absolute;
}
</style>
<!-- /Map Style -->

<!-- gmap -->
<section class="container section p-0 mb-3"  style="height: 40vh;">
  <!-- Google Map -->
  <div id="map-container" class="z-depth-1-half map-container">
    <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Ra%C3%BAl%20Scalabrini%20Ortiz%202037%201g+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0"
      style="border:0" allowfullscreen></iframe>
</div>
</section>
<!-- /gmap -->

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer></script>

{{ end }}
